.nav {
  display: flex;
  justify-content: flex-start;
}

body:not(.light-mode) {
  /* styles for default mode here */
}

/* Remove light mode styles */

#theme-toggle {
  /* styles for theme toggle here */
}