.hero {
    display: flex;
    flex-direction: column;
    padding-top: calc(1rem + 60px);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.hero h1 {
    order: 1;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero .animated-text {
    order: 2;
}

.hero .sr-section {
    order: 3;
}